@model Laboratorio4_MVC_Ticona.Models.Factura
@{
    ViewBag.Title = "CalcularFactura";
    int Count = 0;
}

@using (Html.BeginForm("CalcularFactura", "Factura", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div>
        @Html.Label("Ingresar Productos: ", new { @class = "h4" })

        @Html.TextBoxFor(model => model.producto, new { @class = "form-control input-lg", placeholder = "Ingresar producto" })
        @Html.ValidationMessageFor(model => model.producto, null, new { @class = "label label-danger" })
    </div>
    <br />
    <div>
        @Html.Label("Ingresar Cantidad: ", new { @class = "h4" })

        @Html.TextBoxFor(model => model.cantidad, new { @class = "form-control input-lg", placeholder = "Ingresar producto" })
        @Html.ValidationMessageFor(model => model.cantidad, null, new { @class = "label label-danger" })
    </div>
    <br />
    <div>
        @Html.Label("Ingresar Precio Unitario: ", new { @class = "h4" })

        @Html.TextBoxFor(model => model.precioU, new { @class = "form-control input-lg", placeholder = "Ingresar producto" })
        @Html.ValidationMessageFor(model => model.producto, null, new { @class = "label label-danger" })
    </div>
    <br />
    <br />
    <div class="text-right">
        <button type="submit" class="btn btn-lg btn-primary">AGREGAR</button>
    </div>
}
<table class=" table table-bordered">
    <thead>
        <tr>
            <th>Nro</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Count++</td>
        </tr>
        <tr>
            @foreach (var item in Model.Lproducto)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            @foreach (var item in Model.Lproducto)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            @foreach (var item in Model.Lcantidad)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            @foreach (var item in Model.LprecioU)
            {
                <td>@item</td>
            }
        </tr>
        <tr>
            @foreach (var item in Model.LsubT)
            {
                <td>@item</td>
            }
        </tr>
    </tbody>
</table>


